{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content%}

<div class="container" style="margin-top: 50px">

    <h1>About</h1>
    <br>
    <div>
        <h4>METAR simply delivered.</h4>
    </div>

    <div>
        <p>
            NYC METAR is a project of NYC-based software developer and hobbyist pilot <a href="http://dariomiceli.com" target="_blank">Dario Miceli</a>. It is intended to help pilots
            view METAR information quickly for airports surrounding the greater-NYC area.
            NYC METAR is built on Python and Flask and uses the <a href="https://avwx.rest/" target="_blank">Aviation Weather REST API</a> for up-to-date information.
            <br>
            Special thanks to <a href="https://techwithtim.net/" target="_blank">Tim</a> and <a href="https://coreyms.com/" target="_blank">Corey</a> for all their help.
            <br>
            <br>
            You can contact the developer <a href="#">here</a>. Any and all feedback would be greatly appreciated.
        </p>
    </div>
</div>

{% endblock %}